#testimonials > .overlay-sec {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.6);
}

#features {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}

#funfacts {
    margin-bottom: 0px;
}

.offer-features img {
    margin-bottom: 20px;
}

.avatar {
    border-radius: 50%;
    max-width: 100%;
    border: 1px solid #666666;
    margin: 20px auto 20px;
}

h2 {
    margin-bottom: 80px;
}

.personal span {
    width: 100%;
    display: block;
    color: #999999;
}

#header {
    margin-bottom: 0;
    min-height: 250px;
    max-height: 300px;
    text-align: center;
}

#about {
    margin: 0
}

.about-img {
    text-align: center;
}

#testimonials .person span {
    color: #ccc;
}

#testimonials p {
    font-size: 1.8em;
}

.special-offer {
    color: #ff9c3f;
    // font-style: italic;
}
