css/animations/animations.min.css
css/icons/elegant.min.css
css/plugins/plugins.min.css
css/style-thgtp.min.css
css/style-yellow.min.css
js/alive.scripts.min.js
js/parallax.min.js
js/smoothscroll.min.js
js/validator.min.js